agfcResourceId: "${agfc_resource_id}"
agfcFeName: "${agfc_fe_name}"
namespace: "${namespace}"
feGrpcPort: "${fe_grpc_port}"
feService: "${fe_service}"
aksKeyVaultAddonIdentityClientId: "${aks_key_vault_addon_identity_client_id}"
keyVaultName: "${key_vault_name}"
certificateName: "${certificate_name}"
certificateSecretName: "${certificate_secret_name}"
tenantId: "${tenant_id}"
